.story-block {
    /*background-color: lightblue;*/
    text-align: center;
    width: 600px;
    display: block;
    margin: 0 auto;
}

/*.img-frame {
    border-style: solid;
    border-color: red;
}
*/
