.ssm-svg {
  /*width: 100%;*/
  text-align: center;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 1px;
  /*background-color: blue;*/
  /*opacity: 0.1;*/
}

.binder-plot {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
/*  border-style: solid;
  border-width: 1px;*/
}
.binder-plot .title {
  font-size: 10;
  padding: 10px;
}

.binder-plot .plot-canvas {
  display: inline-block;
}
