.ssm-svg {
  text-align: center;
}

.binder-plot {
  width: 100%;
  text-align: center;
  /*margin-bottom: 50px;*/
/*  border-style: solid;
  border-width: 1px;*/
}
.binder-plot .title {
  font-size: 10;
  padding: 10px;
}

.binder-plot .canvas {
  display: inline-block;
}
