<!-- The Graph Viewer for Better Scaling and Download -->
<div id="graph_dialog"
     title="Graph Viewer"
     style="display: none;">
  <div id="view_of_focus_context">
    <div class="download-canvas">
      <div id ="new_full_canvas_viewer" class="full-canvas">
        <div id ="mirror_canvas_viewer">
          <svg class="full-mirror-display" id="full_mirror_viewer"></svg>
        </div>
      </div>
    </div>
    <div id="buttons_save_focus_context">
      <button class="btn btn-primary btn-sm export_as_png">
        Export PNG
      </button>
      <button class="btn btn-primary btn-sm export_as_svg">
        Export SVG
      </button>
    </div>
  </div>
  <div id="view_of_binder">
    <div class="download-canvas">
      <div class="binder-plot">
        <div class="canvas plot-sim-canvas">
          <svg class="ssm-svg" id="full_binder_plot"></svg>
        </div>
      </div>
    </div>
    <div id="buttons_save_binder">
      <button class="btn btn-primary btn-sm export_as_png">
        Export PNG
      </button>
      <button class="btn btn-primary btn-sm export_as_svg">
        Export SVG
      </button>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-filestyle/bootstrap-filestyle.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/d3-save-svg.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/FileSaver.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/canvas-toBlob.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3_save_utils.js') }}"></script>

