<!-- The Graph Viewer for Better Scaling and Download -->
<div id="graph_dialog"
     title="Graph Viewer"
     style="display: none;">
  <div class="download-canvas">
      <div id ="new_full_canvas_viewer" class="full-canvas">
        <div id ="mirror_canvas_viewer">
          <svg class="full-mirror-display" id="viewer_foc_con_png"></svg>
        </div>
      </div>
    </div>
    <div class="binder-plot">
      <div class="canvas plot-sim-canvas">
        <svg class="ssm-svg" id="viewer_ssm_png"></svg>
      </div>
    </div>
  </div>
</div>
<div id="graph_saver"
     style="display: none;">
  <div>
    <!-- used for saving svgs -->
    <div class="full-canvas">
      <svg class="full-mirror-display" id="viewer_foc_con_svg"></svg>
    </div>
    <div class="canvas ssm-svg-saver">
      <svg class="ssm-svg" id="viewer_ssm_svg"></svg>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/FileSaver.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/canvas-toBlob.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/d3-save-svg.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3_save_utils.js') }}"></script>
