{% extends "layout.html" %}
{% block content %}
<div class="panel-group" id="accordion">
  <!-- Introduction Panel -->
  <div class="panel panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="colpsible-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Instructions
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>
            Setup your simulation here with graph interaction and parameter selection. Once you finalize your simulation setup, you can launch the simulation or download the core parameters. The complexity of your simulation determines how long the computation would take. The results can optionally be rendered under the "Simulation Result" tab.
        </p>
      </div>
    </div>
  </div>
  <!-- Gene Ontology Setup Panel -->
  <div class="panel panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="colpsible-panel"
           data-toggle="collapse"
           data-parent="#accordion"
           href="#collapseThree">
          Focus-and-Context Navigation
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        {% include "go_interaction.html" %}
        <hr>
        <div class="go_panel">
          <!--go term seleciton line -->
          <div class="info-line go-sel-for-gene-block">
            <div class="autocomplete-search-block">
              <div class="label-block">
                <label> GO Selection </label>
                <a data-toggle="tooltip"
                   data-placement="right"
                   title="Select individual genes anchors by auto search or generate random genes">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </a>
              </div>
              <div class="tagit-block">
                <input name="tags"
                       id="go_select_tag_it"
                       value="">
              </div>
            </div>
            <button type="button"
                    class="btn btn-sm btn-success icon-btn-right"
                    id="go_selection_reset_button">
             <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button"
                    class="btn btn-sm btn-success icon-btn-right"
                    id="go_copy">
             <span class="glyphicon glyphicon-duplicate"></span>
            </button>
          </div>
          <!--gene sampling line-->
          <div class="info-line gene-sel-block">
            <div class="options-block">
              <div class="label-block">
                <label> Sampling </label>
                <a data-toggle="tooltip"
                   data-placement="right"
                   title="Select individual genes anchors by auto search or generate random genes">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </a>
              </div>
              <span>&#124;</span>
              &nbsp;

              <div class="general-options">
                Draw number of genes &nbsp;
                <input id="spinner_num_genes"
                       name="value"
                       class="jquery_ui_spinner small_inline"
                       value="1">
                <button type="button"
                        class="btn btn-sm btn-success inline-btn"
                        id="add_random_num_genes">
                 <span class="glyphicon glyphicon-plus"></span>
              </div>
              &nbsp;
              <span>&#124;</span>
              &nbsp;
              <div class="general-options">
                Draw proportion of genes &nbsp;
                <input id="spinner_prop_genes"
                       name="value"
                       class="jquery_ui_spinner small_inline"
                       value="100">
                <button type="button"
                        class="btn btn-sm btn-success inline-btn"
                        id="add_random_prop_genes">
                 <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </div>
          <!--gene seleciton line -->
          <div class="info-line gene-sel-block">
            <div class="autocomplete-search-block">
              <div class="label-block">
                <label> Gene Selection </label>
                <a data-toggle="tooltip"
                   data-placement="right"
                   title="Select individual genes anchors by auto search or generate random genes">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </a>
              </div>
              <div class="tagit-block">
                <input name="tags"
                       id="go_gene_tag_it"
                       value="">
              </div>
            </div>
            <button type="button"
                    class="btn btn-sm btn-success icon-btn-right"
                    id="gene_reset_button">
             <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button"
                    class="btn btn-sm btn-success icon-btn-right"
                    id="gene_copy">
             <span class="glyphicon glyphicon-duplicate"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Additional Parameter Setup Panel -->
  <div class="panel panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="colpsible-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Simulation Parameters
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <form name="simulation_form">
          {% for item in simparam.list %}
          <div class="form-group row">
            <label for="{{ item.id }}" class="col-sm-6 col-form-label">
              {{ item.caption }}
            </label>
            <div class="col-sm-3">
              {% if item.class == 'jquery_ui_spinner' %}
              <input id="{{ item.id }}"
                     name="{{ item.id }}"
                     class="{{ item.class }}"
                     value="{{ item.value }}">
              {% endif %}
              {% if item.class == 'select_one_option' %}
              <select class="form-control {{ item.class }}" id="{{ item.id }}">
                {% for option in item.options %}
                  <option value="{{ option.value }}">{{ option.caption }}</option>
                {% endfor %}
              </select>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </form>
        <div>
          <button onclick="submitSim()" class="btn btn-primary">
            Launch Simulation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Progress Dialog -->
<div id="progress_dialog" title="Simulation Progress" style="display: none">
  <div class="progress" style="width: 90%; margin: 20px;">
    <div class="progress-bar progress-bar-striped active"
         role="progressbar"
         aria-valuenow="0"
         aria-valuemin="0"
         aria-valuemax="100"
         style="width: 0%">
      <span class="progress-bar-label">0%</span>
    </div>
  </div>
  <div class=widget style="text-align: center;">
    <button onclick="cancelSimFunc()">Cancel</button>
  </div>
</div>

<div class="hidden-textbox" style="display: show">
  <textarea id="hidden_copy_text"></textarea>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/sim_setup.js') }}"></script>
{% endblock %}
