{% extends "layout.html" %}
{% block content %}
<div class="panel-group" id="accordion">
  <!-- Gene Ontology Setup Panel -->
  <div class="panel panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="colpsible-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Instructions
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>
        Here you can use AEGIS explore GO structures and gene annotations
        to learn more about them. The focus-and-context graph can help you
        navigate through a large graph and retrieve fine-grained details.
        For more details about the navigation procedure, you
        can watch our video demonstrations (*** ADD LINK***).

        You also have the option to upload a file of GO terms to initiate
        the exploration among the panels below.
        <p>
      </div>
    </div>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="colpsible-panel"
           data-toggle="collapse"
           data-parent="#accordion"
           id="vizOptions_panel"
           href="#vizOptions">
           Data Upload (Optional)
        </a>
      </h4>
    </div>
    <div id="vizOptions" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          Here you can upload lists of GO terms to initiate the construction
          of the focus and context graphs for navigation. At least one uploaded
          file is required for focus or context anchors. Thus, there are
          three scenarios:
          <ul>
            <li>When only focus anchors are specified, the context anchors will
              be initialized as the ontology roots. </li>
            <li>When only context anchors are specified, the focus anchors will
              be randomly initialized.</li>
            <li>When both are specified, only valid focus anchors within the
              specified context graph will be used.</li>
          </ul>
        </p>
        <p>
          The required format is a .txt or .csv file with one GO ID
          (e.g., GO:0008150) per line. Once you specify the file and click on
          the "upload" button, the file format and GO term IDs will be checked
          against the GO IDs under the specific ontology.
        </p>


        <div class="go_panel">

          <!-- data options line -->
          <div  class="info-line data-driven-line">
            <div class="options-block">
              <div class="label-block">
                <label>Context Anchors</label>
                <a data-toggle="tooltip"
                   data-placement="right"
                   title="">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </a>
              </div>
              <span>&#124;</span>
              &nbsp; &nbsp;
              <div class="general-options">
                <form id="upload_file_context"
                      method="post"
                      enctype="multipart/form-data">
                  <fieldset>
                      <input class="file-upload-input"
                             name="file"
                             id="input_file_upload_context"
                             type="file"
                             accept=".csv,.txt,.tsv">
                  </fieldset>
                </form>
              </div>
            </div>
            <button type="button"
                    class="btn btn-primary btn-sm icon-btn-right"
                    id="context_data_upload_button"
                    disabled>
                <span class="glyphicon glyphicon-refresh"> </span>
            </button>
          </div>
          <!-- data options line -->
          <div  class="info-line data-driven-line">
            <div class="options-block">
              <div class="label-block">
                <label> Focus Anchors </label>
                <a data-toggle="tooltip"
                   data-placement="right"
                   title="">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </a>
              </div>
              <span>&#124;</span>
              &nbsp; &nbsp;
              <div class="general-options">
                <form id="upload_file_focus"
                      method="post"
                      enctype="multipart/form-data">
                  <fieldset>
                      <input class="file-upload-input"
                             name="file"
                             id="input_file_upload_focus"
                             type="file"
                             accept=".csv,.txt,.tsv">
                  </fieldset>
                </form>
              </div>
              <!-- <span>&#124;</span> -->
            </div>
            <button type="button"
                    class="btn btn-primary btn-sm icon-btn-right"
                    id="focus_data_upload_button"
                    disabled>
                <span class="glyphicon glyphicon-refresh"> </span>
            </button>
          </div>
          <!-- general options line -->
          <div  class="info-line" id="general_options_for_upload">
            <div class="options-block">
              <div class="label-block">
                <label> General Options </label>
                <a data-toggle="tooltip"
                   data-placement="right"
                   title="">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </a>
              </div>
              <span>&#124;</span>
              &nbsp; &nbsp;
              <div class="general-options">
                ontology &nbsp;
                <div class="select-control">
                  <select class="form-control" id="ontology_selection_data_upload">
                    <option value="biological_process">biologcial process</option>
                    <option value="cellular_component">cellular component</option>
                    <option value="molecular_function">molecular function</option>
                  </select>
                </div>
              </div>
              &nbsp; &nbsp; &nbsp;  &nbsp;
              <div class="general-options">
                species &nbsp;
                <div class="select-control">
                  <select class="form-control" id="species_selection_data_upload">
                    <option value="human">human</option>
                    <option value="mouse">mouse</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="button"
                    class="btn btn-primary btn-sm icon-btn-right"
                    id="upload_request_ontology_button"
                    disabled>
                <span class="glyphicon glyphicon-refresh"> </span>
            </button>
          </div>
        </div>
        <div id="query_data_summary">
          <form>
            <div class="form-group row">
              <!-- <label class="col-sm-3 col-form-label">
                Context Anchor Type:
              </label>
              <div class="col-sm-9">
                <textarea class="summary_lite" id="anc_type" type="text" value="" readonly></textarea>
              </div> -->
            </div>
            <div class="form-group row">
              <label id="anc_list_lab" class="col-sm-8 col-form-label">
                Query Data
                <a data-toggle="tooltip"
                   data-placement="right"
                   title="During the navigation process, the context and focus anchors can be
                        changed interactively.
                        Thus, we use the definition of 'query data' to keep track of
                        the original uploaded data. In particular, 'query data' refers to the
                        uploaded focus anchors or the uploaded context anchors respectively
                        if only one of them is specified.
                        If both  are specified, the 'query data' refers to
                        only the uploaded focus anchors.">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </a>
                :
              </label>
              <div class="col-sm-12">
                <textarea class="summary_lite text_long" id="query_list" type="text" value="" readonly>
                </textarea>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label id="anc_list_lab" class="col-sm-3 col-form-label">
                Uploaded Focus Anchors:
              </label>
              <div class="col-sm-9">
                <textarea class="summary_lite text_long" id="anc_list" type="text" value="" readonly></textarea>
              </div>
            </div> -->
          </form>
          <div>
            <button id="query_to_navigation" class="btn btn-primary">
              Continue Navigation
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Additional Parameter Setup Panel -->
  <div class="panel panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="colpsible-panel"
           data-toggle="collapse"
           data-parent="#accordion"
           id="vizDynamic_panel"
           href="#vizDynamic">
           Focus-and-Context Navigation
        </a>
      </h4>
    </div>
    <div id="vizDynamic" class="panel-collapse collapse">
      <div class="panel-body">
        {% include "go_interaction.html" %}
      </div>
    </div>
  </div>
  <!-- Final Review and Launch Panel -->
  <div class="panel panel">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="colpsible-panel"
         data-toggle="collapse"
         data-parent="#accordion"
         href="#vizDownload">
         Data Download
      </a>
    </h4>
  </div>
  <div id="vizDownload" class="panel-collapse collapse">
    <div class="panel-body">
      <div>
        {% include "ss_manhattan.html" %}
      </div>
      <div>
        <button id='export_as_png'>Export Figure as PNG</button>
        <button id='export_as_svg'>Export Figure as SVG</button>
      </div>

    </div>
  </div>
</div>
<div class="modal" id="ajax_modal"><!-- Place at bottom of page --></div>

<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-filestyle/bootstrap-filestyle.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/d3-save-svg.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/FileSaver.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/d3-save-svg/canvas-toBlob.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3_save_utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/view_go.js') }}"></script>

{% endblock %}
